<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" type=" text/css" href="/styles/style.css">
</head>

<body>
    <ul id="navbar">
        <li><a href="/home">Home</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/photo-gallery">Photo Gallery</a></li>
    </ul>
<div>
    <h1 class="titles">About<h1>
</div>
<section>
    <h3 class = "about">First Years</h3>
    <p class="about">Pedro Sanchez was born in Madrid in 1972. His father was an economist, his mother a lawyer and his brother
        is an orchestra director. He started studying Economics in the Complutense University in Madrid in 1990, 
        graduating in 1995. He joined the <i>Socialist Spanish Party</i> (PSOE) in 1993.
    </p>
    <h3 class = "about">Beginnings in Politics</h3>
    <p class="about">
        In 2004, he became a council member in the municipality of Madrid. Between 2004 and 2009 he was one of the 320 
        members of the General Assembly of the Bank <i>Caja Madrid</i>. He married Maria Begoña and had two daughters.
        He was elected again in 2007 as a council member for the City of Madrid. From 2008 to 2013 he was a professor in 
        <i>Economic Structure</i> and <i>History of Economic Thought</i> in the University <i>Camilo Jose Cela</i>.
    </p>
    <h3 class = "about">Member of the Congress of Deputies</h3>
    <p class = "about">
        He became a member of the Congress in September, 2009. He run for President of the Community of Madrid in 
        2011, though he lost. He worked in the OCU and achieved his PhD in Economics in 2012. In January, 2013, he 
        became a member of the Congress of Deputies again.
    </p>
</section>

</body>