<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Achievements</title>
    <link rel="stylesheet" type=" text/css" href="/styles/style.css">
</head>

<body>
    <ul id="navbar">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/photo-gallery">Photo Gallery</a></li>
    </ul>

    <div>
        <h1 class="titles">Achievements<h1>
    </div>

    <ul id="list">
        <li>He recovered the unity of the party and the trust of former PSOE voters</li>
        <li>Ha abogado por la reforma de la Constitución, proponiendo un modelo federal 
            para España,59​ así como volver a cambiar su artículo 135 o reforzar el
            laicismo del sistema educativo.</li>
        <li>He promoted the reform of the <i>Historical Memory Law</i> to grant rights to those
            who suffered persecution or violence during the civil war and the dictatorship.</li>
        <li>
            His government took the measure of exhuming the remains of dicator Franco from the 
            <i>Valley of the Fallen</i></li>
        <li>The Sanchez government offered the port of Valencia to disembark the <i>Aquarius</i> ship,
             with 629 immigrants on board, after Italy and Malta denied entry into their ports, 
             thus avoiding a humanitarian catastrophe.</li>
        <li>
            He approved the decree that set the minimum wage at 900 euros, the largest increase since 1977.</li>
        <li>
            His Government cut the so-called "fallen from the sky profits" of the electricity companies, 
            to mitigate the rise in the price of the electricity bill, caused by the historic rise in gas
            prices throughout Europe</li>
        <li>
            He promoted the <i>Work Reform</i> of 2022 in order to reduce temporary employment and the 
            unemployment rate</li>
        <li>To address the effects of the war in Ukraine and inflation on the domestic economy, the Government 
            announced in December 2022 the reduction of VAT on fresh or essential foods.</li>
        <li>
            The Pedro Sánchez government imposed a temporary special tax on electricity, gas and oil companies.
            También otro a los bancos</li>
        <li>The Government launched the so-called "cultural youth bonus", an aid of 400 euros so that 18-year-olds
            can spend in the cultural sector</li>
    </ul>
</body>