<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" type=" text/css" href="/styles/style.css">
</head>

<body>

    <div>
        <ul id="navbar">
            <li><a href="/about">About</a></li>
            <li><a href="/achievements">Achievements</a></li>
            <li><a href="/photo-gallery">Photo Gallery</a></li>
        </ul>
        <section>
            <section>
                <div class="titles">
                    <h1>PEDRO SANCHEZ<h1>
                    <h3><i>President of Spain and Model</i><h3>
            </section>
                <img src="images/pedro0.jpg" alt="Pedro Sanchez smiling" id="smile">
        </section>
    </div>     

</body>