<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photo Gallery</title>
    <link rel="stylesheet" type=" text/css" href="/styles/style.css">
</head>

<body>
    <ul id="navbar">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/achievements">Achievements</a></li>
    </ul>

    <div>
        <h1 class="titles">Photo Gallery<h1>
    </div>
    <div id="images">
        <img src="/images/pedro1.jpg" alt="pic 1" class="imgs" />
        <img src="/images/pedro2.jpg" alt="pic 1" class="imgs" />
        <img src="/images/pedro3.jpg" alt="pic 1" class="imgs" />
        <img src="/images/pedro4.jpg" alt="pic 1" class="imgs" />
        <img src="/images/pedro5.webp" alt="pic 1" class="imgs" />
        <img src="/images/pedro6.jpg" alt="pic 1" class="imgs" />

    <div> 
</body>