<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <link rel="stylesheet" type=" text/css" href="/styles/style.css">
</head>

<body>
    <ul id="navbar">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/photo-gallery">Photo Gallery</a></li>
    </ul>

    <div>
        <h1 class="titles">Works<h1>
    </div>

    <ul>
        <li>hello world</li>
        <li>hello world</li>
        <li>hello world</li>
        <li>hello world</li>
        <li>hello world</li>
        <li>hello world</li>
    </ul>
</body>